@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

#contact_us input, textarea{
    background-color:transparent !important;
    /* border:none !important;     */
 }
 .form-control::placeholder{
     color: #fff;
 }
 .one,.two,.three{
     cursor: pointer;
 }
 .service1, .service2, .service3{
     display: none;
     cursor: pointer;
 }
 #nameErr, #mailErr, #msgErr {
     background: #fff;
     color: red;
     margin:0 21px 0 0;
     padding: 0 5px;
     font-size: 16px;
     font-weight: bolder;
     display: inline-block;
 }
 
#contact_us{
    background-image: url(../img/backgrounds/c_image.jpg);
    background-size: cover;
    height: 50vh;
}

.myborder{
    border: 5px solid white;
    width: 90%;
    height: 85%;
    margin: auto;
    font-family: 'Russo One', sans-serif;
    
}
.maincontainer{
    position: relative;
}
.overlay-text1,
.overlay-text2, 
.overlay-text3,
.overlay-text4,
.overlay-text5,
.overlay-text6, 
.overlay-text7,
.overlay-text8 {
    display: block;
    background: rgba(50, 50, 50, .7);
    opacity: 0;/* on hover opacity to 18*/
    transition: opacity 2s;
}









