

body{
    box-sizing: border-box;
    margin: 0;
}
#contact_us .form-control{
    background-color:transparent !important;
    /* border:none !important;     */
 }
 .form-control::placeholder{
     color: #fff;
 }